# =============== #
# Unity generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment if you have tasks that create Assets under Assets/Generated
# /[Aa]ssets/[Gg]enerated/

# ========================= #
# Visual Studio / Rider etc #
# ========================= #

.vscode/
.idea/
*.sln
*.csproj
*.unityproj
*.pidb
*.user
*.booproj
*.svd

# ============ #
# OS-specific  #
# ============ #

.DS_Store
Thumbs.db

# ============ #
# Other        #
# ============ #

*.log
*.vsconfig
